$cart-item-border-color: #00acdc;
$remove-button-text-color: #fff;
$remove-button-bg-color: #00acdc;
$modal-bg-color: #fff;
$filter-button-bg-color: #fff;
$active-filter-button-bg-color: #00acdc;
$active-filter-button-text-color: #fff;
$filter-button-border-color: #fff;
$active-filter-button-border-color: #00acdc;
$hover-filter-button-border-color: #00acdc;
$header-cart-count-color: #ff0000;
$header-cart-count-text-color: #fff;
$footer-bg-color: #fff;
$card-button-border-color: #00acdc;
$hover-card-button-border-color: #00acdc;
$card-button-bg-color: #00acdc;
$card-button-text-color: #fff;
$active-card-button-bg-color: #fff;
$active-card-button-text-color: #00acdc;
$card-bg-color: #fff;

$global-border-radius: 8px;